.app-menu-bar{

height:42px;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 18px;

background:#181818;

border-bottom:1px solid #2d2d2d;

position:sticky;

top:0;

z-index:999;

}

.app-menu-left{

display:flex;

align-items:center;

gap:4px;

}

.app-logo{

margin-right:24px;

font-weight:700;

font-size:.95rem;

color:white;

}

.app-menu-left button{

background:none;

border:none;

color:#cfcfcf;

padding:6px 10px;

border-radius:4px;

font-size:.9rem;

transition:.15s;

cursor:pointer;

}

.app-menu-left button:hover{

background:#2f2f2f;

color:white;

}

.app-menu-right{

color:#8e8e8e;

font-size:.82rem;

}